name: Build

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]
    branches-ignore:
      - 'nobuild**'
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm ci

      - name: Install animation dependencies
        run: npm ci
        working-directory: animations

      - name: Build project
        run: npm run build